# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Application-Development-in-CPP.dev
*.layout
*.win
*.dev
*.dev
*.win
*.win
*.opendb
Music-Player/.vs/Music-Player/FileContentIndex/40d836e4-cae4-4976-991c-f0227603d381.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/49a688f3-da58-4979-818c-f11f745ec60d.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/59c79a30-0b18-430a-a3ad-1a53621a96a0.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/78068c31-d671-4e9a-a590-44da91a2965d.vsidx
Music-Player/.vs/Music-Player/v17/.suo
Music-Player/.vs/Music-Player/v17/Browse.VC.db
Music-Player/.vs/Music-Player/v17/Browse.VC.db-shm
Music-Player/.vs/Music-Player/v17/ipch/AutoPCH/d8ee25d4cc9caf16/MUSICPLAYER.ipch
Music-Player/Music-Player.vcxproj
Music-Player/x64/Debug/Music-Player.ilk
Music-Player/x64/Debug/Music-Player.pdb
Music-Player/x64/Debug/Music-Player.tlog/CL.command.1.tlog
Music-Player/x64/Debug/Music-Player.tlog/CL.read.1.tlog
Music-Player/x64/Debug/Music-Player.tlog/link.read.1.tlog
Music-Player/x64/Debug/vc143.idb
Music-Player/x64/Debug/vc143.pdb
