# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Application-Development-in-CPP.dev
*.layout
*.win
*.dev
*.dev
*.win
*.win
*.opendb
Music-Player/.vs/Music-Player/FileContentIndex/40d836e4-cae4-4976-991c-f0227603d381.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/49a688f3-da58-4979-818c-f11f745ec60d.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/59c79a30-0b18-430a-a3ad-1a53621a96a0.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/78068c31-d671-4e9a-a590-44da91a2965d.vsidx
Music-Player/.vs/Music-Player/v17/.suo
Music-Player/.vs/Music-Player/v17/Browse.VC.db
Music-Player/.vs/Music-Player/v17/Browse.VC.db-shm
Music-Player/.vs/Music-Player/v17/ipch/AutoPCH/d8ee25d4cc9caf16/MUSICPLAYER.ipch
Music-Player/Music-Player.vcxproj
Music-Player/x64/Debug/Music-Player.ilk
Music-Player/x64/Debug/Music-Player.pdb
Music-Player/x64/Debug/Music-Player.tlog/CL.command.1.tlog
Music-Player/x64/Debug/Music-Player.tlog/CL.read.1.tlog
Music-Player/x64/Debug/Music-Player.tlog/link.read.1.tlog
Music-Player/x64/Debug/vc143.idb
Music-Player/x64/Debug/vc143.pdb
Music-Player/.vs/Music-Player/FileContentIndex/40d836e4-cae4-4976-991c-f0227603d381.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/70a1f8ee-9e25-46f4-adcf-2d01202ee4d9.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/78068c31-d671-4e9a-a590-44da91a2965d.vsidx
Music-Player/.vs/Music-Player/FileContentIndex/f2fefab8-8484-43b4-b2f8-ec56a372128e.vsidx
Music-Player/.vs/Music-Player/v17/.suo
Music-Player/.vs/Music-Player/v17/Browse.VC.db
Music-Player/.vs/Music-Player/v17/Browse.VC.db-shm
Music-Player/.vs/Music-Player/v17/Browse.VC.db-wal
Music-Player/.vs/Music-Player/v17/ipch/AutoPCH/d8ee25d4cc9caf16/MUSICPLAYER.ipch
Music-Player/Music-Player.vcxproj
Music-Player/x64/Debug/Music-Player.ilk
Music-Player/x64/Debug/Music-Player.log
Music-Player/x64/Debug/Music-Player.pdb
Music-Player/x64/Debug/Music-Player.tlog/CL.command.1.tlog
Music-Player/x64/Debug/Music-Player.tlog/CL.read.1.tlog
Music-Player/x64/Debug/Music-Player.tlog/link.read.1.tlog
Music-Player/x64/Debug/vc143.idb
Music-Player/x64/Debug/vc143.pdb
Paxos-Algorithm/.vs/Paxos-Algorithm/FileContentIndex/2cae82d0-7c55-4768-a37d-609bbeb5532b.vsidx
Paxos-Algorithm/.vs/Paxos-Algorithm/FileContentIndex/bb5456da-4dbb-4fda-9c45-db9611e95216.vsidx
Paxos-Algorithm/.vs/Paxos-Algorithm/FileContentIndex/c53c398b-4613-4b27-9616-d6145787c08b.vsidx
Paxos-Algorithm/.vs/Paxos-Algorithm/FileContentIndex/d9c4d1c0-9978-4283-b126-d3a7e4d1b8b2.vsidx
Paxos-Algorithm/.vs/Paxos-Algorithm/v17/.suo
Paxos-Algorithm/.vs/Paxos-Algorithm/v17/Browse.VC.db
Paxos-Algorithm/x64/Release/Paxos-Algorithm.iobj
Paxos-Algorithm/x64/Release/Paxos-Algorithm.ipdb
Paxos-Algorithm/x64/Release/Paxos-Algorithm.log
Paxos-Algorithm/x64/Release/Paxos-Algorithm.pdb
Paxos-Algorithm/x64/Release/vc143.pdb
